{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1>Sobre Mim</h1>
    <hr>
    <p>Olá! Meu nome é Paulo Camargo e este é o meu projeto de blog.</p>
    <p>Tenho formação em Logística e experiência no varejo, principalmente na área de planejamento comercial, lidando com organização de processos e análise de dados para apoiar decisões estratégicas. Atualmente estou me voltando para programação, porque gosto de desafios que envolvem lógica e criação de soluções. Estou animado para aprender novas tecnologias e colocar minha experiência em prática de uma forma diferente.</p>
    <p>Sinta-se à vontade para explorar e conferir as funcionalidades implementadas.</p>
</div>
{% endblock %}
